# Data Science Tools and Ecosystem

In this notebook, I'll summarize Data Science Tools and Ecosystem

__Objectives:__

* List languages used by Data Scientists
* List libraries used by Data Scientists
* List Data Science tools

Popular languages used by Data Scientists include:

1. Python
2. R
3. SQL
4. Scala
5. Julia

Libraries commonly used by Data Scientists include:

1. Pandas
2. Numpy
3. Scikit-learn
4. Seaborn
5. ggplot2
6. Caret
7. Vegas

|Data Science Tools|
|------------------|
|RStudio|
|JupyterLab|
|Github|

### Below are examples of evaluating arithmetic using Python

In [13]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Benjamin Kon